# Ignorar archivos de salida de Nmap (opcional, si no quieres versionarlos)
# *.nmap
# *.gnmap
# *.xml

# Archivos específicos de SO
.DS_Store
Thumbs.db

# Cache de Python (si usas scripts)
__pycache__/
*.py[cod]

# Archivos de configuración local o secretos (si los hubiera)
# .env
# config.local.yml
